*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
html,body
{
    background-color: #fff;
    color:#271f1f;
    font-family:'Lato','Arail',sans-serif;
    font-weight:300;
    font-size:20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header
{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(8, 7, 7, 0.24)),to(rgba(0,0,0,0.5))),url(img/hero.jpg);
    background-image: linear-gradient(rgba(8, 7, 7, 0.24),rgba(0,0,0,0.5)),url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;
}
.section1
{
    position:absolute;
    top:50%;
    left:50%;
    width:1140px;
   -webkit-transform:translate(-20%,-50%);
   transform:translate(-20%,-50%)
}
h1
{
  margin:0 ;
  font-size:200%;
  color:#fff;
}
.hai
{
    position:absolute;
    left:4%;
    font-size: 25px;
    font-weight: 300px;
}
.log
{
    font-size:60px;
    font-family: 'Lobster', cursive;
    color: #f75e1a;
    position:absolute;
    top:23%;
    left:57%
}
    /*---------------------------------------*/
/*-------------------button-------------*/
.btn:link,
.btn:visited

{
    text-decoration: none;
    display:inline-block;
    margin:15px 10px 15px 50px;
    padding:10px 20px; 
    border-radius:400px;
    color:#fff;
    -webkit-transition: background-color 0.2s;transition: background-color 0.2s;
}

.btn-full:link,
.btn-full:visited
input[type=submit]
{
    background-color: #f75e1a;
    border:1px solid #fff;
}
.btn-ghost:link,
.btn-ghost:visited
{
    border:1px solid #f75e1a;
    color:rgb(255, 255, 255)
}
.btn:hover,
.btn:active
input[type=submit]:hover,
input[type=submit]:active{

    background-color: coral;
}

/*-------------------------------*/
/*-------logo----------------*/
.logo
{
    height:150px;
    width:auto;
    float:left;
    margin-left:30px;
}
/* nav*/
.main-nav
{
    float:right;
    list-style:none;
    text-decoration: none;
    
}
.main-nav li
{ 
    display:inline-block;
    margin-left: 20px;
    margin-right: 40px;
    margin-top:40px;
}
.main-nav li a:link,
.main-nav li a:visited
{
    padding:7px;
    color:#fff;
    text-decoration:none;
    font-size:90%;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:2px solid #f75e1a;

}
.menu
{
    margin-top: 20px;
    float:right;
    display: none;
    cursor: pointer;
}
.menu i
{
    font-size:170%;
    color:#000;
}
/* sticky nav */
.sticky 
{
    position:fixed;
    background-color: #fff;
    top:0;
    left:0;
    width:100%;
    box-shadow:0 2px 2px #8e8d8d;
    z-index: 9999;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited
{
    padding:15px;
    color:#555;
    text-decoration:none;
    font-size:90%;
}
.sticky .logo
{
    height:70px;
}
.sticky .main-nav li
{
    margin-top: 17px;
}
/*-------------------------------------*/
/*----------------Section--------------*/
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
section
{
    padding:80px 20px;
}
.section-features
{
    padding:60px;
}
h2
{
    text-transform: uppercase;
    font-size: 170%;
    letter-spacing:2px;
    font-family: 'Assistant';
    text-align:center;
    margin-bottom:30px;
}
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
h3
{
    text-transform: uppercase;
    font-size:110%;
    margin-bottom:15px;
    font-family:'Assistant',sans-serif;
}
.need
{
    margin-top:10px;
}
/*-------------------------------------*/
/*----------------Icons--------------*/
.icon-big
{
    font-size:200%;
    color:#f75e1a;
}
/*-------------------------------------*/
/*----------------Paragraphs--------------*/
.long-copy
{
    width:65%;
    line-height:145%;
    margin-left:17.5%;
}
.box
{
    padding:1%;
}
.box p
{
    font-size:90%;
    line-height:145%;
}

/*----------------------------*/
/*------------meals section-------*/
/*-----------------------------*/

.section-meals
{   
    padding:0%;
}
.meals
{
    list-style:none;
    width:100%;
}
.meals li
{
    display: block;
    width:25%;
    float:left; 
}
.img-pic
{
    margin:0;
    width:100%;
    overflow: hidden;
    background-color: #000;
}
.img-pic img
{
    opacity: 0.7;
    width:100%;
    height:auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s,-webkit-transform 0.5s;
    transition: opacity 0.5s,-webkit-transform 0.5s;
    transition: transform 0.5s,opacity 0.5s;
    transition: transform 0.5s,opacity 0.5s,-webkit-transform 0.5s;
}
.img-pic img:hover{
    opacity: 1.2;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/*-----------------------------------*/
/*---------------How it works---------*/
/*------------------------------------*/
.work
{
    background-color: #ebebeb;
}

.steps-box:first-child
{
    text-align: right;
    padding:3%;
}
.steps-box:last-child
{
    text-align:left
    padding-left: 3%;
    margin-top: 70px;
}
.iphoneimage
{
    width:40%;
}
.steps
{
    margin-bottom: 50px;
}
.steps:last-of-type{
  margin-bottom: 80px;
}
.steps div
{
    color:#f75e1a;
    border:2px solid #f75e1a;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 130%;
    float:left;
    padding: 5px;
    margin-right: 25px;
}
.btn-app img
{
    height: 50px;
    width:auto;
    margin-left:20px;
    
}

/*-------------------------------------*/
/*---------------------cities-----------*/
/*---------------------------------------*/
.city-img
{
    width:100%;
    height:auto;
}
.city-mg
{
    width:100%;
}
/*-------------------------------------*/
/*-----------------Sign up--------------*/
/*---------------------------------------*/
.btn-fulld:link,
.btn-fulld:visited
{
     background-color: #fff;
    border:1px solid #f75e1a ;
    color:#f75e1a;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    margin:0 0;
}
.btn-fulld:hover,
.btn-fulld:active
{
    background-color:#f75e1a;
    color:#fff;
}
.sign-up
{
    background-color: #ebebeb;
}
.package
{
    background-color: #fff;
    border-radius:5px;
    width:90%;
    margin-left: 5%;
}
.package div
{
    padding: 15px;
    border-bottom:1px solid #d1cbcb;
}
.price
{
    font-size: 150%;
    font-weight: 100%;
    color:#f75e1a;
}
.price span
{
    font-size:60%;
}
.package ul
{
    list-style: none;
}
.package ul li
{
    padding:15px 0;
}
.package ul li i
{
    color:#f75e1a;
}

.package div:first-child
{
    background-color: #fcf9f9;
}
.package div:last-child
{
    text-align: center;
}


/*-------------------------------------*/
/*-----------------Contact-form--------------*/
/*---------------------------------------*/

.contact-form
{
    width:60%;
    margin:0 auto;
}
input[type=text],
input[type=email],
select,
textarea
{
    width:100%;
    padding:7px;
    border-radius: 3px;
    border:1px solid #e2dede;
}
input[type=checkbox]
{
    margin-bottom:5px;
}
textarea
{
    height:100px;
}
input[type=submit]
{
    cursor:pointer;
}
*:focus
{
    outline: none;
}
input[type=submit]
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
input[type=submit]
{
    color:#f75e1a;
    background-color:#fff;
    border:1px solid #f75e1a;
}
input[type=submit]:hover,
input[type=submit]:active
{
    background-color: #f75e1a;
    color:#fff;
}
.row
{
    
margin: 0 auto;
}
/*-------------------------------------*/
/*-----------------Footer--------------*/
/*---------------------------------------*/
footer
{
    background-color: #c3b9b9;
    padding:40px;
}
.link-data,
.link-social
{
    list-style:none;
}
.link-data
{
float:left;
    margin-left: 50px;
}
.link-social
{
    float:right;
    margin-right: 50px;
}
.link-data li,
.link-social li
{
    display: inline-block;
    margin-right:25px;
}
.link-data li a:link,
.link-data li a:visited,
.link-social li a:link,
.link-social li a:visited
{
    text-decoration: none;
    border:0;
    color:#484848;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.link-data li a:hover,
.link-data li a:active
{
    color:#fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.link-social li a:link,
.link-social li a:visited
{
    font-size: 130%;
}
.ion-social-facebook:hover,
.ion-social-facebook:active
{
    color:#3b5998;
}
.ion-social-twitter:hover,
.ion-social-twitter:active
{
    color:#00aced;
}
.ion-social-googleplus:hover,
.ion-social-googleplus:active
{
    color:#dd4b39;
}
.ion-social-instagram:hover,
.ion-social-instagram:active
{
    color:#517fa4;
}
footer p
{
    color:#484848;
    text-align:center;
    margin-top: 30px;
    font-size: 90%;   
}
.js--wp-1
{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.menu ion-icon
{
    color: #fff;
}
.special ion-icon
{
    color:#f75e1a;
}
.sticky .menu ion-icon
{
    color:#000;
}